In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# Load the data
data = pd.read_csv('test.csv')

# View the first few rows
data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [8]:
# Check for missing values
data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [9]:
# Fill missing Age values
data['Age'] = data['Age'].fillna(data['Age'].median())

In [10]:
# Get basic statistics of the dataset
data.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  418.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   29.599282    0.447368    0.392344   35.627188
std     120.810458    0.841838   12.703770    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   23.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   35.750000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [11]:
print(data.columns)
print(data.head())
data.columns = data.columns.str.strip()  # Remove any leading/trailing spaces from column names

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [12]:




try:
    sns.countplot(x='Pclass', hue='Survived', data=data)
    plt.show()
except ValueError as e:
    print(f"Error: {e}")

Error: Could not interpret value `Survived` for `hue`. An entry with this name does not appear in `data`.

In [13]:
required_columns = ['SibSp', 'Parch', 'FamilySize', 'Survived']
missing_columns = [col for col in required_columns if col not in data.columns]

if missing_columns:
    print(f"Missing columns: {', '.join(missing_columns)}")
else:
    # Create a new feature FamilySize
    data['FamilySize'] = data['SibSp'] + data['Parch']

    # Visualize FamilySize distribution with Survival information
    sns.countplot(x='FamilySize', hue='Survived', data=data)
    plt.title('Survival Count by Family Size')
    plt.xlabel('Family Size')
    plt.ylabel('Count')
    plt.show()

Missing columns: FamilySize, Survived

In [14]:
import pandas as pd

# Load the dataset
data = pd.read_csv('train.csv')

# Add FamilySize column
data['FamilySize'] = data['SibSp'] + data['Parch']

# Prepare features and target variable
if all(col in data.columns for col in ['Pclass', 'Sex', 'Age', 'FamilySize']):
    X = data[['Pclass', 'Sex', 'Age', 'FamilySize']]
    # Use .loc to modify the DataFrame
    X.loc[:, 'Sex'] = X['Sex'].map({'male': 0, 'female': 1})
    y = data['Survived'] if 'Survived' in data.columns else None
    
    if y is not None:
        print("Columns are ready for model training.")
    else:
        print("The 'Survived' column is missing.")
else:
    print("Not all required columns are present in the DataFrame.")

Columns are ready for model training.